@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

.nav {
  color: black;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: clamp(20px, 3vw, 45px);
  margin-left: 10px;
}

.nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 25px;
  transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
  color: #555555;
}

.nav a.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #313131;
}

.nav.darkmode {
  color: white;
}

.nav.darkmode a {
  color: white;
}

.nav.darkmode a:hover {
  color: #7e7e7e;
}

.nav a:focus,
.nav a:active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2); /* Optional background change */
}

/* Specific focus/active color for each link */
.home-link:focus,
.home-link:active {
  color: #ff6347; /* Tomato */
}

.add-exercise-link:focus,
.add-exercise-link:active {
  color: #32cd32; /* LimeGreen */
}

.log-link:focus,
.log-link:active {
  color: #1e90ff; /* DodgerBlue */
}

/* Dark mode specific focus/active styling */
.nav.darkmode .home-link:focus,
.nav.darkmode .home-link:active {
  color: #ffa07a; /* LightSalmon */
}

.nav.darkmode .add-exercise-link:focus,
.nav.darkmode .add-exercise-link:active {
  color: #7fff00; /* Chartreuse */
}

.nav.darkmode .log-link:focus,
.nav.darkmode .log-link:active {
  color: #00bfff; /* DeepSkyBlue */
}
